<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Generic Provisioning Tool</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/Loginstylecss")

</head>
<body style="background:#F7F7F7;">
    <div id="wrapper">
        <div id="login" class="animate form">
            <section class="login_content">
                @RenderBody()
            </section>
            <!-- content -->
        </div>

    </div>
</body>
</html>


