@using Microsoft.AspNet.Identity

@using (Html.BeginForm())
{
    <aside class="main-sidebar">
        <section class="sidebar">
            <!-- Sidebar user Info panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    @*<img src="~/Content/images/profile/@Url.Content(Model.Picture)" class="img-circle" alt="User Image">*@
                    <img src="~/Content/images/user.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@User.Identity.GetUserName()</p>
                </div>
            </div>
        </section>
    </aside>
}
